<h2 mat-dialog-title>{{ data.book.title }}</h2>
<mat-dialog-content>
  @if(data.book.coverImageURL){
    <img
      [src]="data.book.coverImageURL"
      alt="Book Cover"
      class="book-cover"
    />
  }
  <p><strong>Author:</strong> {{ data.book.author }}</p>
  <p><strong>Year:</strong> {{ data.book.year }}</p>
  <p><strong>Description:</strong> {{ data.book.description }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-button color="primary" (click)="editBook(data.book)">Edit</button>
</mat-dialog-actions>
